# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6
print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3

print(numberFloat)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

7.4

##### Subtraction

In [6]:
result_diff = num2 - num1
print(result_diff)

3.4000000000000004

##### Multiplication

In [7]:
result_mul = num1 * num2
print(result_mul)

10.8

##### Division

In [8]:
result_div = num2 / num1
print(result_div)

2.7

##### Floor Division

In [9]:
floor = num2 // num1
print(floor)

2.0

##### Modulo

In [10]:
mod = num2 % num1
print (mod)

1.4000000000000004

##### Exponential

In [11]:
exp = num1 ** num2
print(exp)

42.22425314473263

### String Input-Output

##### String Assignment

In [12]:
name = "Scott"
print(name)

Scott

##### print() <br>
<p>Don't forget about end=' '</p>

In [13]:
print("full name: ", name, end = " Mann")

full name:  Scott Mann

##### String Concatenation

In [14]:
first = "John"
last = "Smith"

full = first + " " + last
print (full)
full += " Jr."
print (full)

John Smith
John Smith Jr.

##### Type Conversion

In [15]:
number = "5"
num = int(number)
num +=2
print (num)

7

##### input()

In [16]:
name = input("What is your name? ")
print(name)

age = int(input("What is your age? "))
age +=1
print("next year you will be", age)

What is your name? Scott
Scott
What is your age? 14
next year you will be 15

##### format()

In [ ]:
name = "Scott"
age = 20
sentence = f"Next year {name} will be {age + 1} years old"
print(sentence)

##### Old Way (python 2)

In [17]:
# %s tells it to enter a string, at the end list %"string"

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [18]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What make is your car? ")
model = input("What model is your car? ")
sentence = f"Your car is a {color} {year} {make} {model}."
print(sentence)

What color is your car? Blue
What year is your car? 87
What make is your car? Saturn
What model is your car? SLII
Your car is a Blue 87 Saturn SLII.

### If Statements

In [19]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 7
if num1 == num2:
        print ("equals")
else: print ("different")

different

##### 'is' keyword

In [24]:
num1 = 55
num2 = num1
if num1 is num2:
    print("same")

same

##### 'in' keyword

In [22]:
name = "Max Payne"
if "a" in name:
    print("a is in name")

a is in name

##### 'not in' keyword'

In [23]:
name = "Max Payne"
if "b" not in name:
    print("b is not in name")

b is not in name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [25]:
p_word = input("Please type something ")

if "p" in p_word:
    p_sent = f"P is in '{p_word}'"
else:
    p_sent = f"P is not in '{p_word}'"
print(p_sent)

Please type something no
P is not in 'no'

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [26]:
name = "Brandon"

for letter in range(len(name)):
    print(name[letter])

B
r
a
n
d
o
n

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [27]:
for i in range(10):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop

In [28]:
for i in range(10):
    if i == 4:
        break
    print(i)

0
1
2
3

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

### While Loops

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

##### len()

##### help()

##### isinstance()

In [ ]:
# 2 arguments if they are equal returns true otherwise false
#great to pair with other functions

##### abs()

In [ ]:
#absolute value

### Try and Except

In [30]:
#like an if function for all errors
try:
    num_test = 0
    input_num = int(input("Guess a number "))
    if input_num != num_test:
        input_num = input_num + num_test
        print(input_num)
except: 
    print("That did not work - ERROR: Please change your input")

Guess a number a
That did not work - ERROR: Please change your input

### Lists

##### Declaring Lists

In [35]:
listi = ["ab","bc","de","fg"]
print(list)

['ab', 'bc', 'de', 'fg']

##### Indexing a List

In [36]:
print(listi[::-2])
print(listi[2::-2])

['fg', 'bc']
['de', 'ab']

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [48]:
# 10^3 is 1,000 so you can stop at 11, 
#if you were unsure you could set a higher range, such as 1001, or you could use a while loop
for i in range(11):
    if i**(3) <= 1000:
        print(i**3)
    else:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [80]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# 2 is the first prime, and we need a prime to divide by for our if then statement
prime = [2]
# start at 2 because its the first prime despite 0 & 1 also working, so we want to skip them 
# or we would need special rules, go to 101 (so that 100 is included, technically not needed since 100 isn't prime)
for i in range (2,101):
# in each loop we start true until we find something that makes it divisible, if it stays true it's prime
    k = True
    # check each previous prime #, the others aren't needed because they are all made of primes
    for j in prime:
        # if the modulus isn't 0 then it's not perfectly divisible and a candidate for prime
        if i % j != 0: 
            pass
        else:
            # if it was divisible swap to False so that we determine its not prime
            k = False
            # Break after this because we don't need to keep testing once it fails
            break
    # After loop completes if it didn't change to False we want to add the number to our prime list
    if k == True:
        prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [79]:
try:
    age = float(input("How old are you? "))
    if age < 18:
        print("kids")
    elif age <= 65:
        print("adults")
    else:
        print("seniors")
except: 
    print("Age must be a number")

How old are you? tree
Age must be a number